<div class="card">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="card mt-3">
            <button class="btn btn-dark mx-auto" routerLink="/IntroduccionIncidencias">Introduccion incidencias</button>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mt-3">
            <button class="btn btn-dark" routerLink="/RevisionIncidencias">Revision incidencias</button>
          </div>
        </li>

        <li class="nav-item">
          <div class="card mt-3">
            <button class="btn btn-dark" routerLink="/GestionIncidencias">Gestion incidencias</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <h2 class="text-center">Bienvenido a la aplicacion de gestion de incidencias</h2>
</div>
