<app-navbar></app-navbar>
<div class="container mt-4">
  <select [(ngModel)]="filtrado" (ngModelChange)="cambiarFiltro()">
    <option *ngFor="let estados of listFiltro" [value]="estados">{{estados}}</option>

  </select>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Fecha incidencia</th>
        <th scope="col">Descripcion incidencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incidencia of listIncidencias">
        <td>{{incidencia.fecha | date:'dd/MM/yyyy'}}</td>
        <td>{{incidencia.descIncidencia}}</td>
        <button class="btn btn-primary btn-lg" [routerLink]="['Detalle/', incidencia.id]">Detalle</button>
      </tr>

    </tbody>
  </table>
  <button class="btn btn-primary" (click)="goBack()">Volver</button>
</div>
