<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Uuid</th>
      <th scope="col">Fecha incidencia</th>
      <th scope="col">Lugar incidencia</th>
      <th scope="col">Descripcion incidencia</th>
      <th scope="col">Posible arreglo</th>
      <th scope="col">Estado incidencia</th>
      <th scope="col">Revisado</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let incidencia of listIncidencias">
      <th>{{incidencia.uuid}}</th>
      <td>{{incidencia.fecha | date:'dd/MM/yyyy'}}</td>
      <td>{{incidencia.lugarIncidencia}}</td>
      <td>{{incidencia.descIncidencia}}</td>
      <td>{{incidencia.posibleArreglo}}</td>
      <td>{{incidencia.estado}}</td>
      <td>{{incidencia.revisada}}</td>
    </tr>
  </tbody>
</table>


