<div class="container w-25">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <input type="text" class="form-control" formControlName="lugarIncidencia" placeholder="Lugar de la incidencia" />
    <input type="text" class="form-control" formControlName="descIncidencia" placeholder="Descripcion de la incidencia"/>
    <input type="text" class="form-control" formControlName="posibleArreglo" placeholder="Posible arreglo de la incidencia">
    <label for="mesDisponible">Fecha de la incidencia</label>
    <input type="date" class="form-control" formControlName="fecha" name="mesDisponible">
    <button class="btn btn-dark" type="submit">Enviar</button>
  </form>

</div>
